// 2020.06.02


del {
    text-decoration-color: #6db8ff;
    text-decoration-style: double;
}
// 颜色块-黄 
span#inline-yellow a {
    color: #ffffff;
    transition-property: padding,color;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &:hover {
        color: #000000;
        padding: 0px 5px;
        border: none;
    }
}
span#inline-yellow { 
    display:inline; 
    padding: 2px 2px; 
    font-weight:bold; 
    line-height:1; 
    color:#fff; 
    text-align:center; 
    white-space:normal; 
    vertical-align:baseline; 
    border-radius:0; 
    background-color: #f0ad4e; 
    box-shadow: 0 0 13px 3px rgba(62, 62, 62, 0.3);
} 
// 颜色块-绿 
span#inline-green a {
    color: #ffffff;
    transition-property: padding,color;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &:hover {
        color: #000000;
        padding: 0px 5px;
        border: none;
    }
}
span#inline-green { 
    display:inline; 
    padding: 2px 2px; 
    font-weight:bold; 
    line-height:1; 
    color:#fff; 
    text-align:center; 
    white-space:normal; 
    vertical-align:baseline; 
    border-radius:0; 
    background-color: #5cb85c; 
    box-shadow: 0 0 13px 3px rgba(62, 62, 62, 0.3);
} 
// 颜色块-蓝
span#inline-blue a {
    color: #ffffff;
    transition-property: padding,color;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &:hover {
        color: #000000;
        padding: 0px 5px;
        border: none;
    }
} 
span#inline-blue { 
    display:inline; 
    padding: 2px 2px; 
    font-weight:bold; 
    line-height:1; 
    color:#fff; 
    text-align:center; 
    white-space:normal; 
    vertical-align:baseline; 
    border-radius:0; 
    background-color: #2780e3; 
    box-shadow: 0 0 13px 3px rgba(62, 62, 62, 0.3);
} 
// 颜色块-紫 
span#inline-purple a {
    color: #ffffff;
    transition-property: padding,color;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &:hover {
        color: #000000;
        padding: 0px 5px;
        border: none;
    }
}
span#inline-purple { 
    display:inline; 
    padding: 2px 2px; 
    font-weight:bold; 
    line-height:1; 
    color:#fff; 
    text-align:center; 
    white-space:normal; 
    vertical-align:baseline; 
    border-radius:0; 
    background-color: #9954bb; 
    box-shadow: 0 0 13px 3px rgba(62, 62, 62, 0.3);
} 
// 颜色块-灰 
span#inline-gray a {
    color: #ffffff;
    transition-property: padding,color;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &:hover {
        color: #000000;
        padding: 0px 5px;
        border: none;
    }
}
span#inline-gray { 
    display:inline; 
    padding: 2px 2px; 
    font-weight:bold; 
    line-height:1; 
    color:#fff; 
    text-align:center; 
    white-space:normal; 
    vertical-align:baseline; 
    border-radius:0; 
    background-color: #848484; 
    box-shadow: 0 0 13px 3px rgba(62, 62, 62, 0.3);
} 

a#download { 
    font-family: 'ZCOOL KuaiLe'
    display: inline-block; 
    padding: 0 10px; 
    color: #000; 
    background: transparent; 
    border: 2px solid #000; 
    border-radius: 2px; 
    transition: all .5s ease; 
    font-weight: bold; 
    &:hover { 
        background: #000; color: #fff; 
        border: 2px dashed #ccc;
    } 
} 

a#youtube { 
    font-family: 'ZCOOL KuaiLe'
    display: inline-block; 
    padding: 0 10px; 
    color: #FF0000; 
    background: transparent; 
    border: 2px solid #FF0000; 
    border-radius: 2px; 
    transition: all .5s ease; 
    font-weight: bold; 
    &:hover { 
        background: #000; color: #fff; 
        border: 2px dashed #FF0000; 
    } 
} 

a#bilibili { 
    font-family: 'ZCOOL KuaiLe'
    display: inline-block; 
    padding: 0 10px; 
    color: #4682B4; 
    background: transparent; 
    border: 2px solid #4682B4; 
    border-radius: 2px; 
    transition: all .5s ease; 
    font-weight: bold; 
    &:hover { 
        background: #000; color: #fff; 
        border: 2px dashed #4682B4;
    } 
} 
// label 
.post-body .label {
    color: #000000
    font-weight: bold;
    padding: 0px 2px;
    margin: 0px 1px;
}
.post-body .label.danger {
    background: #ffa6b4;
}
.post-body .label.info {
    background: #a7e3ff;
}
.post-body .label.success {
    background: #c8ffd0;
}
.post-body .label.warning {
    background: #fff3c7;
}
.post-body .label.primary {
    background: #e2c1ff;
}
.post-body .label.default {
    background: #d4d4d4;
}

// 左侧边框红色块级
span#div-border-left-red {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #df3e3e;
border-left-width: 5px;
border-radius: 3px;
border-left-color: #df3e3e;
}
// 左侧边框黄色块级
span#div-border-left-yellow {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #f0ad4e;
border-left-width: 5px;
border-radius: 3px;
border-left-color: #f0ad4e;
}
// 左侧边框绿色块级
span#div-border-left-green {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #5cb85c;
border-left-width: 5px;
border-radius: 3px;
border-left-color: #5cb85c;
}
// 左侧边框蓝色块级
span#div-border-left-blue {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #2780e3;
border-left-width: 5px;
border-radius: 3px;
border-left-color: #2780e3;
}
// 左侧边框紫色块级
span#div-border-left-purple {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #9954bb;
border-left-width: 5px;
border-radius: 3px;
border-left-color: #9954bb;
}
// 右侧边框红色块级
span#div-border-right-red {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #df3e3e;
border-right-width: 5px;
border-radius: 3px;
border-right-color: #df3e3e;
}
// 右侧边框黄色块级
span#div-border-right-yellow {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #f0ad4e;
border-right-width: 5px;
border-radius: 3px;
border-right-color: #f0ad4e;
}
// 右侧边框绿色块级
span#div-border-right-green {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #5cb85c;
border-right-width: 5px;
border-radius: 3px;
border-right-color: #5cb85c;
}
// 右侧边框蓝色块级
span#div-border-right-blue {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #2780e3;
border-right-width: 5px;
border-radius: 3px;
border-right-color: #2780e3;
}
// 右侧边框紫色块级
span#div-border-right-purple {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #9954bb;
border-right-width: 5px;
border-radius: 3px;
border-right-color: #9954bb;
}
//左右侧边框红色块级
span#div-border-right-left-red {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #df3e3e;
border-right-width: 5px;
border-left-width: 5px;
border-radius: 3px;
border-right-color: #df3e3e;
border-left-color: #df3e3e;
}
//左右侧边框黄色块级
span#div-border-right-left-yellow {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #f0ad4e;
border-right-width: 5px;
border-left-width: 5px;
border-radius: 3px;
border-right-color: #f0ad4e;
border-left-color: #f0ad4e;
}
//左右侧边框绿色块级
span#div-border-right-left-green {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #5cb85c;
border-right-width: 5px;
border-left-width: 5px;
border-radius: 3px;
border-right-color: #5cb85c;
border-left-color: #5cb85c;
}
//左右侧边框蓝色块级
span#div-border-right-left-blue {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #2780e3;
border-right-width: 5px;
border-left-width: 5px;
border-radius: 3px;
border-right-color: #2780e3;
border-left-color: #2780e3;
}
//左右侧边框紫色块级
span#div-border-right-left-purple {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid #9954bb;
border-right-width: 5px;
border-left-width: 5px;
border-radius: 3px;
border-right-color: #9954bb;
border-left-color: #9954bb;
}
// 上侧边框红色
span#div-border-top-red {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-top-width: 5px;
border-radius: 3px;
}
// 上侧边框黄色
span#div-border-top-yellow {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-top-width: 5px;
border-radius: 3px;
}
// 上侧边框绿色
span#div-border-top-green {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-top-width: 5px;
border-radius: 3px;
}
// 上侧边框蓝色
span#div-border-top-blue {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-top-width: 5px;
border-radius: 3px;
}
// 上侧边框紫色
span#div-border-top-purple {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-top-width: 5px;
border-radius: 3px;
}
// 下侧边框红色
span#div-border-bottom-red {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-bottom-width: 5px;
border-radius: 3px;
}
// 下侧边框黄色
span#div-border-bottom-yellow {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-bottom-width: 5px;
border-radius: 3px;
}
// 下侧边框绿色
span#div-border-bottom-green {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-bottom-width: 5px;
border-radius: 3px;
}
// 下侧边框蓝色
span#div-border-bottom-blue {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-bottom-width: 5px;
border-radius: 3px;
}
// 下侧边框紫色
span#div-border-bottom-purple {
display: block;
padding: 10px;
margin: 10px 0;
border: 1px solid;
border-bottom-width: 5px;
border-radius: 3px;
}

//菜单
.menu {
    margin-top: 10px;
}
// 标题
.posts-expand .post-title {
    font-weight: bold;
    transition: border 0.2s,color 1s,background 1s;
    transition-timing-function: ease-in-out;
    &:hover {
        border-left: 15px solid;
    }
}
// 文章的描述description
.posts-expand .post-meta .post-description {
    margin-top: 30px;
}
//文章信息
.posts-expand .post-meta {
    margin-top: 30px;
    margin-bottom: 30px
}
//文章标题
.post-body h1 {
    font-size: 1.9em;
    margin-top: 15px;
    padding-left: 6px;
    padding-right: 12px;
}
.post-body h2 {
    font-size: 1.7em;
    margin-top: 15px;
    padding-left: 6px;
    padding-right: 11px;
}
.post-body h3 {
    font-size: 1.5em;
    margin-top: 15px;
    padding-left: 6px;
    padding-right: 9px;
}
.post-body h4 {
    font-size: 1.3em;
    margin-top: 15px;
}
.post-body h5 {
    font-size: 1.2em;
    margin-top: 15px;
}
.post-body h6 {
    font-size: 1.1em;
    margin-top: 15px;
}

// 十二生肖
.chinese-zodiac {
    float: right;
}
// 去除页面底部页码上面的横线
.pagination {
    border: none;
    margin: 0px;
}
@font-face {
font-family: 'chinese-zodiac';
font-display: swap;
src: url('/fonts/chinese-zodiac.eot');
src: url('/fonts/chinese-zodiac.eot') format('embedded-opentype'),
    url('/fonts/chinese-zodiac.woff2') format('woff2'),
    url('/fonts/chinese-zodiac.woff') format('woff');
font-weight: normal;
font-style: normal;
}
.symbolic-animals {
display: inline-block;
font: normal normal normal 14px/1 chinese-zodiac;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.icon-dragon:before { content: '\e806'; }
.icon-tiger:before { content: '\e809'; }
.icon-pig:before { content: '\e810'; }
.icon-horse:before { content: '\e813'; }
.icon-rat:before { content: '\e816'; }
.icon-goat:before { content: '\e818'; }
.icon-snake:before { content: '\e820'; }
.icon-ox:before { content: '\e822'; }
.icon-dog:before { content: '\e825'; }
.icon-rabbit:before { content: '\e826'; }
.icon-monkey:before { content: '\e829'; }
.icon-rooster:before { content: '\e82f'; }

// 去除在页面文章之间的分割线
.post-eof {
    margin: 0px;
    height: 0px
}
// 侧栏站点文章、分类、标签
.site-state-item {
    font-weight: bold;
    &:not(:first-child) {
        border-left: 1.5px solid rgb(161, 102, 171);
    }
}
// 右下角侧栏按钮样式
.sidebar-toggle:hover .toggle-line {
    background: #ffffff;
}
.back-to-top:hover {
    color: #ffffff;
}
.sidebar-toggle {
    bottom: 60px;
}
.sidebar-toggle, .back-to-top {
    box-shadow: 0 0 13px 3px rgba(0,0,0,0.5);
}

// 选中文字部分的样式
::selection {
    background-color: rgb(230, 230, 250);
    color: #000000;
}

//侧栏所有超链接
.sidebar a {
    border-bottom: none;
    &:hover {
        color: #ffffff;
        font-weight: bold;
    }
}

// 侧栏站点作者名
.site-author-name {
    font-weight: bold;
    color: #ABA7D5;
}

// 侧栏友链标题
.links-of-blogroll-title {
    margin-bottom: 10px;
    color: #dcdcdc;
}
// 侧栏友链
.links-of-blogroll-list {
    font-size: 13px;
}
.links-of-blogroll-item {
    padding: 0px 10px
    line-height: 1.6em
}

// 侧栏链接
.links-of-author a, .links-of-author span.exturl {
    font-size: 12px;
    color: #a9a9a9
}

.links-of-author {
    margin-top: 30px;
}

.links-of-blogroll {
    margin-top: 20px;
}

.site-state{
    margin-top: 20px;
}

//侧栏顶部文字
.sidebar-nav li {
    border-bottom: none;
    font-size: 1.1em;
    &:hover {
        color: #ffffff;
        font-weight: bold;
    }
}

//侧栏顶部文字-活动
.sidebar-nav .sidebar-nav-active {
    color: #ABA7D5;
    font-weight: bold;
    border-bottom: 2px solid;
    &:hover {
        color: #ABA7D5;
    }
}

//目录活动
.post-toc .nav .active > a {
    color: #ABA7D5;
    font-weight: bold;
    &:hover {
        color: #ABA7D5;
    }
}

//目录非活动
.post-toc .nav-item {
    line-height: 2;
    font-size: 14px;
}
.post-toc .nav-item a {
    &:hover {
        padding-left: 0.8em;
    }
}
//打赏
.reward-container {
    font-weight: bold;
    color: #aaaaaa
}
.reward-container button {
    border: 2px solid #4e4e4e;
    color: #b8a6f0
    background: #4e4e4e;
    border-radius: 3px;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    &:hover {
        background: #737373;
        font-size: 16px;
        padding: 0px 30px;
    }
}
//follwome
.followme {
    background: #0000;
    border: none;
    margin: 0px 0px;
    padding: 20px 0px;
}
.followme .social-list .social-item {
    border: 2px dashed #ab99de00;
    transition-property: font-weight,padding,border,color,background;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    &:hover {
        font-weight: bold;
        border: 2px dashed #ab99de;
        padding: 0em 1em;
    }
}
//嵌入视频音频
.post-body .video-container {
    box-shadow: 0 0 13px 3px rgba(0,0,0,0.5)
}
//footer
.footer a{
    border-bottom: none;
    &:hover {
        font-weight: bold;
    }
}
// 侧栏
.sidebar.sidebar-active {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
}
// note
.post-body .note {
    color: #000000;
    box-shadow: 0 0 13px 3px rgba(0,0,0,0.5)
}
// note里面的超链接
.post-body .note a {
    transition-property: padding,border,color,background;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    color: #8a8a8a;
    border: 2px dashed #0000;
    border-bottom: 2px dashed #8a8a8a;
    &:hover {
        color: #000000;
        border: 2px dashed #000000;
        font-weight: bold;
        padding: 0px 1px;
    }
}
//tag云
.tag-cloud a {
    border: 2px dashed #8f8f8f00;
    padding: 0px 3px
    transition: transform 0.2s,font-weight 0.2s,border 0.2s,color 1s,background 1s;
    transition-timing-function: ease-in-out;
    &:hover {
        font-weight: bold;
        border: 2px dashed #8f8f8f;
        transform: scale(1.3);
    }
}


// 文章```代码块diff样式
pre .hljs-addition {
    transition: color 1s,background 1s;
    transition-timing-function: ease-in-out;
    color: #6eff6e;
    background: #4e4e4e;
}
pre .hljs-deletion {
    transition: color 1s,background 1s;
    transition-timing-function: ease-in-out;
    color: #ff8181
    background: #4e4e4e;
}
// 文章```代码块顶部样式
.highlight figcaption {
    font-family: "ZCOOL KuaiLe";
    font-weight: bold;
}
//```代码块
.highlight {
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
    .table-container {
        max-height: 60em
    }
}
//```代码块文字
.highlight, .highlight figcaption, .highlight .code pre, .highlight .gutter pre {
    transition: color 1s,background 1s;
    transition-timing-function: ease-in-out;
}
// 文章```代码块复制按钮样式
.copy-btn {
    right: 6px;
    &:hover {
        font-size: 2em;
        color: #969696;
    }
}
// 文章```代码块选中样式
.highlight ::selection {
    background: #ffffff;
    color: #000000;
}

// 自定义的数字块
span#inline-toc {
    display: inline-block;
    border-radius: 0% 60% 0% 60%;
    background-color: rgb(128, 128, 128);
    color: #ffffff;
    padding: 0.05em 0.4em;
    margin: 2px 5px 2px 0px;
    line-height: 1.5;
}
// 自定义的引用样式
blockquote.question {
    color: #ffffff;
    border-left: 6px solid rgb(105, 105, 105);
    background-color: rgb(169, 169, 169);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
}
//书签
.book-mark-link::before {
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
}
//多级菜单
.sub-menu .menu-item a {
    font-size: 10px;
}
//菜单数字显示
.menu .menu-item .badge {
    background: none;
}

// 暗主题
@media (prefers-color-scheme: dark)
    // 文章```代码块顶部样式
    .highlight figcaption {
        border-bottom: 2px solid #747474;
        color: #bcbcbc;
        background-color: #121212
    }
    // 文章```代码块左侧样式
    .highlight .gutter pre {
        background-color: #121212
        color: #bcbcbc;
    }
    .highlight, .highlight .code pre {
        background-color: #252525
    }
    //```代码块
    .highlight {
        opacity: 0.8;
        box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
        &:hover {
            opacity: 1;
        }
    }

    //代码颜色
    .hljs-title, .hljs-attr, .hljs-selector-id, .hljs-selector-class, .hljs-selector-attr, .hljs-selector-pseudo {
        color: #a67fed;
    }
    .hljs-string, .hljs-bullet {
        color: #ebecc4;
    }
    .hljs-section, .hljs-name {
        color: #d06a6a;
    }
    // 左侧边框红色块级
    span#div-border-left-red {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 左侧边框黄色块级
    span#div-border-left-yellow {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 左侧边框绿色块级
    span#div-border-left-green {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 左侧边框蓝色块级
    span#div-border-left-blue {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 左侧边框紫色块级
    span#div-border-left-purple {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 右侧边框红色块级
    span#div-border-right-red {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 右侧边框黄色块级
    span#div-border-right-yellow {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 右侧边框绿色块级
    span#div-border-right-green {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 右侧边框蓝色块级
    span#div-border-right-blue {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 右侧边框紫色块级
    span#div-border-right-purple {
    background-color: rgba(0, 0, 0, 0.20);
    }
    //左右侧边框红色块级
    span#div-border-right-left-red {
    background-color: rgba(0, 0, 0, 0.20);
    }
    //左右侧边框黄色块级
    span#div-border-right-left-yellow {
    background-color: rgba(0, 0, 0, 0.20);
    }
    //左右侧边框绿色块级
    span#div-border-right-left-green {
    background-color: rgba(0, 0, 0, 0.20);
    }
    //左右侧边框蓝色块级
    span#div-border-right-left-blue {
    background-color: rgba(0, 0, 0, 0.20);
    }
    //左右侧边框紫色块级
    span#div-border-right-left-purple {
    background-color: rgba(0, 0, 0, 0.20);
    }
    // 上侧边框红色
    span#div-border-top-red {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#df3e3e, #000) 10;
    }
    // 上侧边框黄色
    span#div-border-top-yellow {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#f0ad4e, #000) 10;
    }
    // 上侧边框绿色
    span#div-border-top-green {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#5cb85c, #000) 10;
    }
    // 上侧边框蓝色
    span#div-border-top-blue {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#2780e3, #000) 10;
    }
    // 上侧边框紫色
    span#div-border-top-purple {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#9954bb, #000) 10;
    }
    // 下侧边框红色
    span#div-border-bottom-red {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#000, #df3e3e) 10;
    }
    // 下侧边框黄色
    span#div-border-bottom-yellow {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#000, #f0ad4e) 10;
    }
    // 下侧边框绿色
    span#div-border-bottom-green {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#000, #5cb85c) 10;
    }
    // 下侧边框蓝色
    span#div-border-bottom-blue {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#000, #2780e3) 10;
    }
    // 下侧边框紫色
    span#div-border-bottom-purple {
    background-color: rgba(0, 0, 0, 0.20);
    border-image: linear-gradient(#000, #9954bb) 10;
    }
    
    // 文章超链接样式
    .post-body p a {
        color: rgb(130, 130, 130);
        &:hover {
            color: rgb(255, 255, 255);
        }
    }
    // 站点子标题
    .site-subtitle {
        color: rgb(169, 169, 169); 
        text-shadow: 0 0px 3px rgba(255, 255, 255, 0.3);
    }
    // 文章底部的tags
    .posts-expand .post-tags a {
        background: #383838;
        &:hover {
            background: #737373;
        }
    }
    // 文章底部页面跳转
    .post-nav-item a {
        color: rgb(128, 128, 128);
        font-weight: bold;
        &:hover {
            color: rgb(255, 255, 255);
        }
    }


    //小代码块
    code {
        background-color: #ccc
    }


    //tabs
    .post-body .tabs .tab-content .tab-pane.active, .tabs-comment .tab-content .tab-pane.active {
        background-color: rgba(68, 68, 68, 0.3);
    }
    .post-body .tabs ul.nav-tabs li.tab, .tabs-comment ul.nav-tabs li.tab {
        &.active {
            background-color: rgba(68, 68, 68, 0.3);
        }
    }

    //版权声明
    .post-copyright {
        box-shadow: 0 0 13px 3px black;
        border: 3px dashed #ababab;
        background: rgba(66, 66, 66, 0.5);
        border-image: linear-gradient(#bca9f5, #000) 10;
    }
    // 主页文章添加阴影效果
    .post-block {
        background-color: rgba(27, 27, 27, 0.7);
    }

    // 站点名背景
    .brand{
        background-color: rgba(27, 27, 27, 0.5);
    }
    //页码
    .pagination .page-number.current {
        background: #464646;
        border-top-color: #fff;
    }
    .pagination .prev, .pagination .next, .pagination .page-number {
        &:hover {
            border-top-color: #fff;
        }
    }
    @media (max-width: 767px)
        //页码
        .pagination .page-number.current {
            background: #464646;
            border-bottom-color: #fff;
        }
        .pagination .prev, .pagination .next, .pagination .page-number {
            &:hover {
                border-bottom-color: #fff;
            }
        }
    // 全文按钮样式
    .post-button .btn {
        color: #777777 !important;
        background-color: #252525;
        &:hover {
            color: #c5c5c5 !important;
            background-color: rgba(78, 78, 78, 0.3);
        }
    }
    // 菜单超链接样式
    .menu .menu-item a {
        border: none !important;
        box-shadow: 0px 0 13px 3px rgba(0,0,0,0.5)
        background-color: rgba(27, 27, 27, 0.5);
        &:hover {
            box-shadow: inset 0px 0 13px 3px rgba(0,0,0,0.5)
            border: none !important;
        }
    }
    .menu-item-active a {
        box-shadow: inset 0px 0 13px 3px rgba(0,0,0,0.5) !important;
    }
    // 更好的侧边滚动条
    ::-webkit-scrollbar-thumb {
        &:hover {
            background-color: rgba(0,0,0,1);
        }
        &:active {
            background-color: #ccc;
        }
    }

    //搜索关键字高亮
    .search-popup .search-keyword {
        &:hover {
            color: #ffffff;
        }
    }
    //搜索间隔
    .search-popup p.search-result {
        border-bottom: 2px dashed #7d7d7d;
    }

    //评论
    .comments {
        background-color: rgba(27, 27, 27, 0.5);
    }
    //评论按钮
    .comment-button-group .comment-button {
        background: #303030;
    }

    //归档
    .posts-collapse .post-header {
        background-color: rgb(27, 27, 27);
        box-shadow: inset 0px 0 13px 3px rgba(0,0,0,0.5)
        &:hover {
            background-color: rgb(27, 27, 27);
            box-shadow: 0 0 13px 3px rgba(0,0,0,0.5)        
        }
    }
    //love
    .with-love {
        color: #ffffff;
    }
    //文章标题
    .post-body h1 {
        border-left: 6px solid #5e5e5e;
        border-bottom: 1px solid #535353; 
    }
    .post-body h2 {
        border-left: 5px dashed #5b5b5b;
        border-bottom: 1px dashed #515151;
    }
    .post-body h3 {
        border-left: 3px dashed #383838;
    }
    //Valine输入区
    .v[data-class=v] .vwrap {
        background-color: #292929 !important;
    }
    //Valine评论区
    .v[data-class=v] .vcards .vcard {
        background-color: #292929 !important;
    }
    ////Valine展开
    .v[data-class=v] .vcards .vcard .vcontent.expand:after {
        background: rgb(53, 53, 53) !important;
    }
    .v[data-class=v] .vcards .vcard .vcontent.expand:before{
        background: linear-gradient(rgba(41, 41, 41, 0),rgb(41, 41, 41)) !important;
    }
    //Valine超链接
    .v[data-class=v] a {
        &:hover {
            color: #ffffff !important;
            border: 2px dashed #ffffff !important;
        }
    }
    //Valine回复按钮
    .v[data-class=v] .vcards .vcard .vh .vmeta .vat {
        &:hover {
            color: #ffffff !important;
            border: 2px dashed #ffffff !important;
        }
    }
    a#download { 
        color: #8b8b8b; 
        border: 2px solid #8b8b8b; 
    } 
    //Gitalk
    .gt-container .gt-comment-admin .gt-comment-content, .gt-container .gt-popup {
        background-color: #353535 !important;
        &:hover {
            box-shadow: 0px 0px 13px 3px rgba(255,255,255,0.5);
        }
    }
    .gt-container .gt-comment-username, .gt-container .gt-header-controls-tip {
        
        &:hover {
            border: 2px dashed #ffffff !important;
        }
    }
    .gt-container .gt-comment-username, .gt-container a, .gt-container .gt-header-controls-tip {
        &:hover {
            color: #ffffff !important;
        }
    }
    //Gitalk评论文字背景
    .gt-container .gt-comment-body {
        background-color: #a7a7a7 !important;
    }
    //分割线
    hr {
        background-image: repeating-linear-gradient(-45deg, #ac9ae0, #767676 4px, transparent 4px, transparent 8px);
    }
    //分类
    .category-list-link {
        &:hover {
            color: #fff
        }
    }
// 亮主题
@media (prefers-color-scheme: light)
    // 文章```代码块顶部样式
    .highlight figcaption {
        border-bottom: 2px solid #bcbcbc;
        color: #777
    }
    // 文章```代码块diff样式
    pre .hljs-addition {
        background: #eaeaea;
        color: #49ab49;
    }
    pre .hljs-deletion {
        background: #eaeaea;
    }
    // 文章```代码块选中样式
    .highlight ::selection {
        background: #b6b6b6;
    }
    //打赏
    .reward-container button {
        border: 2px solid #a9a9a9
        background: #a9a9a9
        color: #ffffff
        &:hover {
            background: #737373;
        }
    }

    // 左侧边框红色块级
    span#div-border-left-red {
    background-color: rgba(197,197,197, 0.20);
    }
    // 左侧边框黄色块级
    span#div-border-left-yellow {
    background-color: rgba(197,197,197, 0.20);
    }
    // 左侧边框绿色块级
    span#div-border-left-green {
    background-color: rgba(197,197,197, 0.20);
    }
    // 左侧边框蓝色块级
    span#div-border-left-blue {
    background-color: rgba(197,197,197, 0.20);
    }
    // 左侧边框紫色块级
    span#div-border-left-purple {
    background-color: rgba(197,197,197, 0.20);
    }
    // 右侧边框红色块级
    span#div-border-right-red {
    background-color: rgba(197,197,197, 0.20);
    }
    // 右侧边框黄色块级
    span#div-border-right-yellow {
    background-color: rgba(197,197,197, 0.20);
    }
    // 右侧边框绿色块级
    span#div-border-right-green {
    background-color: rgba(197,197,197, 0.20);
    }
    // 右侧边框蓝色块级
    span#div-border-right-blue {
    background-color: rgba(197,197,197, 0.20);
    }
    // 右侧边框紫色块级
    span#div-border-right-purple {
    background-color: rgba(197,197,197, 0.20);
    }
    //左右侧边框红色块级
    span#div-border-right-left-red {
    background-color: rgba(197,197,197, 0.20);
    }
    //左右侧边框黄色块级
    span#div-border-right-left-yellow {
    background-color: rgba(197,197,197, 0.20);
    }
    //左右侧边框绿色块级
    span#div-border-right-left-green {
    background-color: rgba(197,197,197, 0.20);
    }
    //左右侧边框蓝色块级
    span#div-border-right-left-blue {
    background-color: rgba(197,197,197, 0.20);
    }
    //左右侧边框紫色块级
    span#div-border-right-left-purple {
    background-color: rgba(197,197,197, 0.20);
    }
    // 上侧边框红色
    span#div-border-top-red {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#df3e3e, #fff) 10;
    }
    // 上侧边框黄色
    span#div-border-top-yellow {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#f0ad4e, #fff) 10;
    }
    // 上侧边框绿色
    span#div-border-top-green {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#5cb85c, #fff) 10;
    }
    // 上侧边框蓝色
    span#div-border-top-blue {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#2780e3, #fff) 10;
    }
    // 上侧边框紫色
    span#div-border-top-purple {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#9954bb, #fff) 10;
    }
    // 下侧边框红色
    span#div-border-bottom-red {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#fff, #df3e3e) 10;
    }
    // 下侧边框黄色
    span#div-border-bottom-yellow {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#fff, #f0ad4e) 10;
    }
    // 下侧边框绿色
    span#div-border-bottom-green {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#fff, #5cb85c) 10;
    }
    // 下侧边框蓝色
    span#div-border-bottom-blue {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#fff, #2780e3) 10;
    }
    // 下侧边框紫色
    span#div-border-bottom-purple {
    background-color: rgba(197,197,197, 0.20);
    border-image: linear-gradient(#fff, #9954bb) 10;
    }
    // 文章底部的tags
    .posts-expand .post-tags a {
        background: #e5e5e5;
        &:hover {
            background: #cecece;
        }
    }
    // 更好的侧边滚动条
    ::-webkit-scrollbar-thumb {
        &:hover {
            background-color: rgba(120, 120, 120,1);
        }
        &:active {
            background-color: #343434;
        }
    }
    // 主页文章添加阴影效果
    .post-block {
        background-color: rgba(255, 255, 255, 0.7);
    }
    //搜索间隔
    .search-popup p.search-result {
        border-bottom: 2px dashed #bfbfbf;
    }
    //搜索关键字高亮
    .search-popup .search-keyword {
        &:hover {
            color: #000000;
        }
    }
    // 文章超链接样式
    .post-body p a{
        color: #b6adff
        &:hover {
            color: rgb(0,0,0);
        }
    }
    // 全文按钮样式
    .post-button .btn {
        color: #e0e0e0 !important;
        background-color: #3d3d3d;
        &:hover {
            color: #000000 !important;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    //归档
    .posts-collapse .post-header {
        background-color: rgb(255,255,255);
        box-shadow: inset 0px 0 13px 3px rgba(0,0,0,0.3)
        &:hover {
            background-color: rgb(255,255,255);
            box-shadow: 0 0 13px 3px rgba(0,0,0,0.3)        
        }
    }
    .posts-collapse::before {
        background: #b7b7b7;
    }
    // 文章底部页面跳转
    .post-nav-item a {
        color: rgb(128, 128, 128);
        font-weight: bold;
        &:hover {
            color: rgb(0,0,0);
        }
    }
    //评论
    .comments {
        background-color: rgba(255, 255, 255, 0.6);
    }
    //评论按钮
    .comment-button-group .comment-button {
        background: #ccc;
        &:hover {
            color: #fff;
        }
    }
    .comment-button-group .comment-button.active {
        color: #fff
    }
    // 菜单超链接样式
    .menu .menu-item a {
        box-shadow: 0px 0 13px 3px rgba(0,0,0,0.3)
        background-color: rgba(255, 255, 255, 0.6);
        border: none !important;
        &:hover {
            box-shadow: inset 0px 0 13px 3px rgba(0,0,0,0.3)
            border: none !important;
        }
    }
    .menu-item-active a {
        box-shadow: inset 0px 0 13px 3px rgba(0,0,0,0.3) !important;
    }
    // 站点子标题
    .site-subtitle {
        color: rgb(144, 144, 144); 
        text-shadow: 0 0px 3px rgba(0,0,0,0.3);
    }
    // 站点名背景
    .brand{
        color: #000;
        background-color: rgba(255, 255, 255, 0.6);
        &:hover {
            color: #000;
        }
    }
    //版权声明
    .post-copyright {
        box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
        border: 3px dashed #ababab;
        background: rgba(255, 255, 255, 0.5);
        border-image: linear-gradient(#ff6767, #9e9e9e) 10;
    }
    //tabs
    .post-body .tabs .tab-content .tab-pane.active, .tabs-comment .tab-content .tab-pane.active {
        background-color: rgba(183, 183, 183, 0.3);
    }
    .post-body .tabs ul.nav-tabs li.tab, .tabs-comment ul.nav-tabs li.tab {
        &.active {
            background-color: rgba(183, 183, 183, 0.3);
        }
    }
    //小代码块
    code {
        border: 1px solid #9a9a9a;
        background-color: #e4e4e4
    }
    //页码
    .pagination .page-number.current {
        background: #818181;
        border-top-color: #000;
    }
    .pagination .prev, .pagination .next, .pagination .page-number {
        &:hover {
            border-top-color: #000;
        }
    }
    @media (max-width: 767px)
        //页码
        .pagination .page-number.current {
            background: #818181;
            border-bottom-color: #000;
        }
        .pagination .prev, .pagination .next, .pagination .page-number {
            &:hover {
                border-bottom-color: #000;
            }
        }
    //引用
    blockquote {
        border-left-color: #b5b5b5;
    }
    //文章标题
    .post-body h1 {
        border-left: 6px solid #b1b1b1;
        border-bottom: 1px solid #c2c2c2;
    }
    .post-body h2 {
        border-left: 5px dashed #c3c3c3;
        border-bottom: 1px dashed #c8c8c8;
    }
    .post-body h3 {
        border-left: 3px dashed #d4d4d4;
    }
    //Valine输入区
    .v[data-class=v] .vwrap {
        background-color: #f5f5f5 !important;
    }
    //Valine评论区
    .v[data-class=v] .vcards .vcard {
        background-color: #f5f5f5 !important;
    }
    ////Valine展开
    .v[data-class=v] .vcards .vcard .vcontent.expand:after {
        background: #cecece !important;
    }
    .v[data-class=v] .vcards .vcard .vcontent.expand:before{
        background: linear-gradient(rgba(245, 245, 245, 0), #f5f5f5) !important;
    }
    //Valine超链接
    .v[data-class=v] a {
        &:hover {
            color: #000000 !important;
            border: 2px dashed #000000 !important;
        }
    }
    //Valine回复按钮
    .v[data-class=v] .vcards .vcard .vh .vmeta .vat {
        &:hover {
            color: #000000 !important;
            border: 2px dashed #000000 !important;
        }
    }
    //Valine头像
    .v[data-class=v] .vcards .vcard .vimg {
        margin-left: 6px;
    }
    .v[data-class=v] .vcards .vcard .vhead .vnick {
        &:hover {
            color: #b688ff !important;
            font-weight: bold !important;
        }
    }
    //Valine表情
    .v[data-class=v] .vwrap .vemojis {
        max-height: none !important;
    }
    .v[data-class=v] .emoji, .v[data-class=v] .vemoji {
        max-width: 100% !important;
    }
    .v[data-class=v] .vwrap .vemojis i {
        &:hover {
            padding-top: 3px !important;
        }
    }
    //Valine按钮
    .v[data-class=v] .vicon {
        &:hover {
            fill: #b688ff !important;
        }
        &.actived {
            fill: #b688ff !important;
        }
    }
    //Gitalk
    .gt-container .gt-comment-admin .gt-comment-content, .gt-container .gt-popup {
        background-color: #e8e8e8 !important;
        &:hover {
            box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.5);
        }
    }
    .gt-container .gt-comment-username, .gt-container .gt-header-controls-tip {
        &:hover {
            border: 2px dashed #000000 !important;
        }
    }
    .gt-container .gt-comment-username, .gt-container a, .gt-container .gt-header-controls-tip {
        &:hover {
            color: #000000 !important;
        }
    }
    //Gitalk按钮
    .gt-container .gt-btn {
        &:hover {
            color: #000000 !important;
        }
    }
    //Gitalk评论文字背景
    .gt-container .gt-comment-body {
        background-color: #fff !important;
    }
    //分类
    .category-list-link {
        &:hover {
            color: #000000
        }
    }
    //分割线
    hr {
        background-image: repeating-linear-gradient(-45deg, #f76c6c, #b2b2b2 4px, transparent 4px, transparent 8px);
    }
    //addthis
    .atss .at-share-btn .at-icon-wrapper {
        background-color: #ffffff !important;
    }
    //文章底部横线
    .post-widgets {
        border-top: 1px solid #9a9a9a;
    }
    .post-nav {
        border-top: 1px solid #9a9a9a;
    }

//addthis
.atss .at-share-btn .at-icon-wrapper {
    transition-property: color,background;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
#at4-share, #at4-soc {
    box-shadow: 0 0 13px 3px rgba(0,0,0,0.5)
}
.atss .at-share-btn {
    &:hover {
        box-shadow: 0 0 13px 3px rgba(0,0,0,0.5)
    }
}
// 更好的侧边滚动条
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    &:hover {
        background-color: rgba(0,0,0,.15);
    }
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3);
    &:hover {
        border-radius: 8px;
    }
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
// 主页文章添加阴影效果
.post-block {
    margin-top 50px
    margin-bottom: 50px;
    padding: 25px;
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
}


//置顶
.post-sticky-flag {
    color: #A596C6
}
//文章头部信息
.posts-expand .post-meta a {
    border-bottom: 2px dashed #7d7d7d;
    &:hover {
        font-weight: bold;
    }
}
//搜索
.search-active .search-popup {
    transition-property: color,background;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
}
//搜索输入
.search-popup input.search-input {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
//搜索标题
.search-popup a.search-result-title {
    font-size: 15px;
    border-bottom: none;
    transition-property: font-size,color,background;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &:hover {
        font-size: 16px;
    }
}
//搜索关键字高亮
.search-popup .search-keyword {
    font-weight: bold;
    border: 2px dashed #cb78ff00;
    border-bottom: 2px dashed #cb78ff;
    color: #cb78ff;
    transition-property: border,padding,color,background;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &:hover {
        border: 2px dashed #cb78ff;
        padding: 0px 2px;
    }
}
// 文章超链接样式
.post-body p a {
    &:hover {
        font-weight: bold;
        border-bottom: 2px solid #696969;
    }
}
//全站超链接
a {
    border-bottom: none;
}
// 全文按钮样式
.post-button .btn {
    padding: 0px 16px;
    font-weight: bold;
    transition-timing-function: ease-out;
    border-radius: 3px;
    transition: border 0.3s,transform 0.3s,color 0.3s,background 0.3s;
    &:hover {
        transform: scale(1.2,1.05);
        border: 3px dashed;
    }
    .iconfont {
        font-weight: normal
    }
}
//归档
.posts-collapse .post-header {
    border-bottom: none;
    font-size: 15px;
    transition: font-size 0.2s,margin 0.2s,color 1s,background 1s;
    transition-timing-function: ease-in-out;
    &:hover {
        font-weight: bold;
        font-size: 1.6em;
        margin-right: -40px;
    }
}
.posts-collapse::before {
    transition: background 1s;
    transition-timing-function: ease-in-out;
}
//评论
.comments {
    margin-top 50px;
    margin-bottom: 50px;
    padding: 25px;
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
}
//评论按钮
.comment-button-group .comment-button {
    border: none;
    padding: 0px 5px;
    border-radius: 3px;
    transition-property: font-weight,padding,border,color,background;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    &:hover {
        border: 2px dashed #737373;
        background: #737373;
        padding: 0px 15px;
        font-weight: bold;
    }
}
.comment-button-group .comment-button.active {
    font-weight: bold;
    border: none;
    background: #737373;
    &:hover {
        padding: 0px 5px;
    }
}
// 菜单超链接样式
.menu .menu-item a {
    padding: 3px 5px;
    transition: padding 0.2s,color 1s,background 1s;
    transition-timing-function: ease-in-out;
    &:hover {
        padding: 3px 10px;
        font-weight: bold;
    }
}
// 站点子标题
.site-subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
}
// 站点名背景
.brand{
    transition: transform 0.3s,color 1s,background 1s;
    transition-timing-function: ease-in-out;
    box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.5);
    &:hover {
        transform: scale(1.3);
        box-shadow: inset 0px 0 13px 3px rgba(0,0,0,0.5)
    }
}
//版权声明
.post-copyright {
    transition-property: color,background;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    margin: 20px 0px;
}
.post-copyright a {
    border-bottom 1px dashed;
    &:hover {
        font-weight: bold;
        border-bottom 2px dashed;
    }
}
// 文章底部的tags
.posts-expand .post-tags a {
    border-bottom: none;
    padding: 0px 5px;
    border-radius: 3px;
    transition-property: padding,font-weight,color,background;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    &:hover {
        padding: 0px 15px;
        font-weight: bold;
    }
}
//tabs
.post-body .tabs .tab-content .tab-pane.active, .tabs-comment .tab-content .tab-pane.active {
    border-left: 1px solid #aba7d5;
    border-right: 1px solid #aba7d5;
    border-bottom: 1px solid #aba7d5;
}
.post-body .tabs ul.nav-tabs li.tab, .tabs-comment ul.nav-tabs li.tab {
    border-bottom: 1px solid #aba7d5;
    &:hover {
        font-weight: bold;
        font-size: 15px;
    }
    &.active {
        border-top: 3px solid #aba7d5;
        border-left: 1px solid #aba7d5;
        border-right: 1px solid #aba7d5;        
        font-weight: bold;
        font-size: 15px;
    }
}
.post-body .tabs .tab-content .tab-pane.active a, .tabs-comment .tab-content .tab-pane.active a {
    border: none;
    font-weight: bold;
    transition-property: padding,border;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &:hover {
        border: 2px dashed;
        padding: 2px 3px;
    }
}
//页码
.pagination .page-number.current {
    font-weight: bold;
    border-top-width: 2px;
}
.pagination .prev, .pagination .next, .pagination .page-number {
    border-top-color: rgb(111, 111, 111);
    &:hover {
        font-weight: bold;
        border-top-width: 2px;
    }
}
@media (max-width: 767px)
    //页码
    .pagination .page-number.current {
        font-weight: bold;
        border-bottom-width: 2px;
    }
    .pagination .prev, .pagination .next, .pagination .page-number {
        border-bottom-color: rgb(111, 111, 111);
        &:hover {
            font-weight: bold;
            border-bottom-width: 2px;
        }
    }
//小代码块
code {
    padding 1px 2px;
    margin 0px 2px;
    font-size: 0.7em
}
//Valine输入区
.v[data-class=v] .vwrap {
    transition-property: color,background;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0 13px 3px rgba(0,0,0,0.5);
    border: none !important;
}
//Valine评论区
.v[data-class=v] .vcards .vcard {
    transition-property: color,background;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0 13px 3px rgba(0,0,0,0.5);
    margin-bottom: 19px;
}
.v[data-class=v] .vcards .vcard .vh {
    border-bottom: none !important;
    padding-right: 19px;
}
.v[data-class=v] .vcards .vcard .vquote {
    border-left: 3px dashed !important;
}
////Valine展开
.v[data-class=v] .vcards .vcard .vcontent.expand {
    max-height: 16em !important;
}
//Valine超链接
.v[data-class=v] a {
    color: #b688ff !important;
    font-weight: bold;
    border: none !important;
    transition-property: padding,border,color,background;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &:hover {
        padding: 0px 3px !important;
    }
}
//Valine回复按钮
.v[data-class=v] .vcards .vcard .vh .vmeta .vat {
    color: #716486 !important;
    font-weight: bold;
    border: none !important;
    transition-property: padding,border,color,background;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    &:hover {
        padding: 0px 3px !important;
    }
}
//Valine头像
.v[data-class=v] .vcards .vcard .vimg {
    margin-left: 6px;
}
.v[data-class=v] .vcards .vcard .vhead .vnick {
    &:hover {
        color: #b688ff !important;
        font-weight: bold !important;
    }
}
//Valine表情
.v[data-class=v] .vwrap .vemojis {
    max-height: none !important;
    padding-bottom: 15px !important;
    padding-left: 15px
    padding-right: 15px
}
.v[data-class=v] .emoji, .v[data-class=v] .vemoji {
    max-width: 100% !important;
}
.v[data-class=v] .vwrap .vemojis i {
    &:hover {
        transform: scale(1.6);
    }
}
//Valine按钮
.v[data-class=v] .vicon {
    &:hover {
        fill: #b688ff !important;
    }
    &.actived {
        fill: #b688ff !important;
    }
}
//亮暗过渡
body, .post-block, .comments {
    transition-property: color,background;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
//Gitalk
.gt-container .gt-comment-admin .gt-comment-content, .gt-container .gt-popup {
    transition-property: color,background;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.gt-container .gt-comment-username, .gt-container .gt-header-controls-tip {
    &:hover {
        padding: 0px 3px !important;
    }
}
.gt-container .gt-popup {
    transition-duration: 0s;
}
.gt-container .gt-comment-username, .gt-container a, .gt-container .gt-header-controls-tip {
    transition-property: padding,border,color,background;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    color: #aba7d5  !important;
    &:hover {
        font-weight: bold !important;
    }
}
.gt-container .gt-svg svg {
    fill: #ccc !important;
    &:hover {
        fill: #aba7d5 !important;
    }
}
//Gitalk按钮
.gt-container .gt-btn {
    background-color: #9996bd !important;
    color: #fff !important;
    border: 1px solid #a29fc9 !important;
    &:hover {
        color: #000000 !important;
    }
}
//Gitalk评论文字背景
.gt-container .gt-comment-body {
    transition-property: color,background;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    padding: 0px 3px !important;
}
//徽章
.shields {
    display: inline;
    margin: 6px 6px;
}
//脚注
.hint--error:after {
    background-color: #917bb8 !important;
    text-shadow: 0 1px 3px #000000 !important;
}
.hint--error.hint--top-left:before, .hint--error.hint--top-right:before, .hint--error.hint--top:before {
    border-top-color: #917bb8 !important;
}
#footnotes {
    font-weight: 300 !important;
}
//404.html
.notfound > span {
    &:hover {
        font-size: 1.1em
        font-weight: bold
    }
}
@media (min-width: 767px)
    .notfound {
        margin: auto 5%
    }
@media (max-width: 767px)
    .notfound {
        font-size: 0.7em
    }

//折叠
//color
$color-mac-blue = #6483a5
$color-mac-blue1 = #284c73
$color-mac-cyan = #6c9aa3
$color-mac-cyan1 = #275963
$color-mac-green = #9ab59d
$color-mac-green1 = #336b39
$color-mac-yellow = #afa37d
$color-mac-yellow1 = #6b5b28
$color-mac-red = #b78f8f
$color-mac-red1 = #692929
// transition time
$time = 0.5s

details {
    display: block
    margin: 1rem 0
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    background: #282828
    font-size: 0.9em
    transition: all $time ease
    -moz-transition: all $time ease
    -webkit-transition: all $time ease
    -o-transition: all $time ease
    box-shadow: 0px 0 13px 3px rgba(0,0,0,0.5);
    border-bottom: 6px dashed #181818;

    summary {
        cursor: pointer;
        border-top-left-radius: 2px
        border-top-right-radius: 2px
        padding: 10px
        outline: none;
        font-weight: bold
        position: relative
        line-height: normal
        color: #ccc
        &:hover {
            color: #000000
            &:after {
                font-family:"iconfont" !important;
                position: absolute
                font-weight: normal
                color: #fff
                content: "\e601"
                text-align: center
                font-size: 1.5em
                top: 50%
                transform: translateY(-50%)
                right: 16px
            }
        }
        >p, h1, h2, h3, h4, h5, h6 {
            display: inline !important
            border-bottom: none !important
        }
    }
    &[blue] {
        border-color: $color-mac-blue
        > summary {
            background:$color-mac-blue
        }
    }
    &[cyan] {
        border-color:$color-mac-cyan
        > summary {
            background:$color-mac-cyan
        }
    }
    &[green] {
        border-color:$color-mac-green
        > summary {
            background:$color-mac-green
        }
    }
    &[yellow] {
        border-color:$color-mac-yellow
        > summary {
            background:$color-mac-yellow
        }
    }
    &[red] {
        border-color:$color-mac-red
        > summary {
            background:$color-mac-red
        }
    }
}
details[open] {
    > summary {
        border-bottom: 4px solid #3e3e3e
        color: #555
        margin-bottom: 0
        &:hover {
            &:after {
                font-family:"iconfont" !important;
                content: "\e643"
            }
        }
    }
    &[blue] {
        border-color: #181818
        > summary {
            border-bottom: 4px solid $color-mac-blue1
        }
    }
    &[cyan] {
        border-color: #181818
        > summary {
            border-bottom: 4px solid $color-mac-cyan1
        }
    }
    &[green] {
        border-color: #181818
        > summary{
            border-bottom: 4px solid $color-mac-green1
        }
    }
    &[yellow] {
        border-color: #181818
        > summary {
            border-bottom: 4px solid $color-mac-yellow1
        }
    }
    &[red] {
        border-color: #181818 
        > summary {
            border-bottom: 4px solid $color-mac-red1
        }
    }
    > div.content {
        padding: 16px
        margin-top: 0
    }
}
@media (prefers-color-scheme: light)
    details {
        background: #f7f7f7
        border-bottom: none;
        box-shadow: 0px 0 13px 3px rgba(0,0,0,0.3);
        summary {
            color: #000
            &:hover {
                color: #ccc
                &:after {
                    color: #000
                }
            }
        }
    }
    details[open] {
        > summary {
            color: #555
            border-bottom: 4px solid #e0e0e0
        }
    }
//日程
.event-list hr::after, .event-list hr, .event-list .event, .event-list .event .event-details, .event-list .event .event-details::before, .event-list .event .event-summary {
    transition: color 1s ease-in-out,background 1s ease-in-out,margin 0.2s ease-in-out;
}
.event-list hr::after {
    content: '未来一周';
}
.event-list hr {
    &::after {
        box-shadow: 0px 0 13px 3px rgba(0,0,0,0.3);
    }
}
.event-list .event {
    box-shadow: 0px 0 13px 3px rgba(0,0,0,0.3);
    &:hover {
        margin: 20px -12px
    }
    .event-details {
        padding-top: 6px
    }
}
@media (prefers-color-scheme: light)
    .event-list hr {
        background: #fff;
        &::after {
            background: #fff;
            color: #3f3f3f
        }
    }
    .event-list .event {
        background: #fff;
        //标题
        .event-summary {
            color: #727272
            &::before {
                color: #727272
            }
        }
        //详情
        .event-details {
            color: #727272
            &::before {
                color: #828282
            }
        }
        //时间
        .event-relative-time {
            color: #b1b1b1
        }
    }
    //现在
    .event-list .event-now {
        //标题
        .event-summary {
            color: #b189dd
            &::before {
                color: #b189dd
            }
        }
        //详情
        .event-details {
            color: #b189dd
            &::before {
                color: #b189dd
            }
        }
        //时间
        .event-relative-time {
            color: #b189dd
        }

    }
    //上一个
    .event-list .event-past {
        //标题
        .event-summary {
            opacity: 0.5;
            &::before {
                opacity: 0.5;
            }
        }
        //详情
        .event-details {
            opacity: 0.5;
        }
    }
@media (prefers-color-scheme: dark)
    .event-list hr {
        background: #222;
        &::after {
            background: #222;
        }
    }
    .event-list .event {
        background: #222;
        //标题
        .event-summary {
            color: #c9c9c9;
        }
        //详情
        .event-details {
            color: #ababab
            &::before {
                color: #ccc
            }
        }
        //时间
        .event-relative-time {
            color: #6b6b6b
        }
    }
    //现在
    .event-list .event-now {
        //标题
        .event-summary {
            color: #fff;
            &::before {
                color: #b189dd
            }
        }
        //详情
        .event-details {
            color: #c9c9c9;
            &::before {
                color: #b189dd
            }
        }
        //时间
        .event-relative-time {
            color: #b189dd
        }

    }
    //上一个
    .event-list .event-past {
        //标题
        .event-summary {
            opacity: 0.5;
            &::before {
                opacity: 0.5;
            }
        }
        //详情
        .event-details {
            opacity: 0.5;
        }
    }
//全站图片
img {
    transition: transform 0.2s;
    transition-timing-function: ease-in-out;
    &:hover {
        transform: scale(1.03);
    }
}
.post-body img {
    &:hover {
        box-shadow: 0px 0 13px 3px rgba(0,0,0,0.3);
    }
}
//图标
.fa, .fab, .fad, .fal, .far, .fas, .iconfont {
    transition: transform 1s ease-out;
    &:hover {
        transform:rotateY(360deg);
    }
}
//分类
.category-list-link {
    &:hover {
        font-weight: bold
    }
}
//追番
.bangumi-active {
    background: #686868 !important;
    font-weight: bold !important;
    &:hover {
        color: #fff !important;
    }
}
.bangumi-item {
    border: none !important;
    &:hover {
        transform: scale(1.03);
    }
}
.bangumi-title {
    font-weight: bold !important;
}
.bangumi-info-items {
    color: #827bbf !important;
    padding-bottom: 10px !important;
}
.bangumi-info-item {
    border-right: 2px solid #cccccc !important;
}
.bangumi-info-item-score {
    color: #cc4747 !important;
    border-right: 1px solid #0000 !important;
}
.bangumi-info-total {
    color: #cc4747 !important;
}
.bangumi-comments {
    line-height: 2.3
}
.bangumi-button:hover {
    background: #686868 !important;
    color: #fff !important;
    font-weight: bold !important;
}
//阿里图标
.iconfont {
    font-size: 1.05em !important;
    display: inline-block;
}
// 背景图片
@media (min-width: 767px)
    @media (prefers-color-scheme: dark)
        body {
            background-image: url('/images/background_dark.webp') !important;
        }
    @media (prefers-color-scheme: light)
        body {
            background-image: url('/images/background_light.webp') !important;
        }
        .footer-inner {
            color: #838383
        }
// table
th, td {
    border: none
    border-left: 1px solid #cec5eb;
    &:first-child {
        border-left: none
    }
}
th {
    border-bottom: 3px solid #cec5eb;
    background: #8484842e;
}
tbody tr:nth-of-type(even) {
    background: #8484842e;
}
tbody tr:nth-of-type(odd) {
    background: none;
}
@media (prefers-color-scheme: dark)
    tbody tr:hover {
        background-color: #9a9a9a4f
    }
@media (prefers-color-scheme: light)
    tbody tr:hover {
        background-color: #7070704f
    }
// 图片描述
.post-body .image-caption {
    margin: auto
}







